In [1]:
url = 'https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports/03-29-2020.csv'

In [2]:
import requests
import pandas as pd

def get_daily_csv(url: str) -> pd.DataFrame:
    header = {
      "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
      "X-Requested-With": "XMLHttpRequest"
    }
    r = requests.get(url, headers=header).text
    return pd.read_html(r, header=[0], index_col=1)[0]

In [3]:
def covid19_repo() -> str:
    return 'https://github.com/CSSEGISandData/COVID-19'


def daily_csv(date: str) -> str:
    return '/'.join([covid19_repo(), f'tree/master/csse_covid_19_data/csse_covid_19_daily_reports/{date}.csv'])

In [4]:
df = get_daily_csv(daily_csv('03-29-2020'))

In [5]:
df.describe()

,Unnamed: 0,Lat,Long_,Confirmed,Deaths,Recovered,Active
count,0.0,3434.000000,3434.000000,3434.000000,3434.000000,3434.000000,3434.000000
mean,NaN,36.846297,-82.742830,209.702097,9.879150,43.413512,115.202679
std,NaN,10.097413,39.184680,2956.173537,234.856826,1161.782648,2024.521259
min,NaN,-42.882100,-170.132000,0.000000,0.000000,0.000000,-6.000000
25%,NaN,33.953228,-97.628666,0.000000,0.000000,0.000000,0.000000
50%,NaN,38.067870,-89.041582,2.000000,0.000000,0.000000,0.000000
75%,NaN,41.728181,-81.716167,10.000000,0.000000,0.000000,0.000000
max,NaN,71.706900,178.065000,97689.000000,10779.000000,62570.000000,73880.000000

In [6]:
df.head(5)

,Unnamed: 0,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
FIPS,,,,,,,,,,,,
45001.0,NaN,Abbeville,South Carolina,US,2020-03-29 23:08:25,34.223334,-82.461707,3,0,0,0,"Abbeville, South Carolina, US"
22001.0,NaN,Acadia,Louisiana,US,2020-03-29 23:08:25,30.295065,-92.414197,9,1,0,0,"Acadia, Louisiana, US"
51001.0,NaN,Accomack,Virginia,US,2020-03-29 23:08:25,37.767072,-75.632346,3,0,0,0,"Accomack, Virginia, US"
16001.0,NaN,Ada,Idaho,US,2020-03-29 23:08:25,43.452658,-116.241552,92,1,0,0,"Ada, Idaho, US"
19001.0,NaN,Adair,Iowa,US,2020-03-29 23:08:25,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"

In [7]:
df.tail(5)

,Unnamed: 0,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
FIPS,,,,,,,,,,,,
NaN,NaN,NaN,NaN,Venezuela,2020-03-29 23:08:13,6.423800,-66.589700,119,2,39,78,Venezuela
NaN,NaN,NaN,NaN,Vietnam,2020-03-29 23:08:13,14.058324,108.277199,188,0,25,163,Vietnam
NaN,NaN,NaN,NaN,West Bank and Gaza,2020-03-29 23:08:13,31.952200,35.233200,109,1,18,90,West Bank and Gaza
NaN,NaN,NaN,NaN,Zambia,2020-03-29 23:08:13,-13.133897,27.849332,29,0,0,29,Zambia
NaN,NaN,NaN,NaN,Zimbabwe,2020-03-29 23:08:13,-19.015438,29.154857,7,1,0,6,Zimbabwe

## Tests

In [8]:
def test_daily_csv():
    assert url == daily_csv('03-29-2020')

In [9]:
test_daily_csv()