In [1]:
import sys
sys.path.append('../src')

In [2]:
from covid import daily_snapshot
from pathlib import Path

import population as pop
import pandas as pd
import requests
import datetime as dt

In [3]:
pd.set_option('max_rows', 300)

In [4]:
date = dt.date.today() - dt.timedelta(1)
date

datetime.date(2020, 4, 17)

In [5]:
dt.datetime.strftime(date, '%m-%d-%Y')

'04-17-2020'

### Quick glance at the data

In [6]:
df = daily_snapshot(dt.datetime.strftime(date, '%m-%d-%Y'))
df.head()

,Unnamed: 0,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
FIPS,,,,,,,,,,,,
45001.0,NaN,Abbeville,South Carolina,US,2020-04-17 23:30:52,34.223334,-82.461707,10,0,0,10,"Abbeville, South Carolina, US"
22001.0,NaN,Acadia,Louisiana,US,2020-04-17 23:30:52,30.295065,-92.414197,110,6,0,104,"Acadia, Louisiana, US"
51001.0,NaN,Accomack,Virginia,US,2020-04-17 23:30:52,37.767072,-75.632346,28,0,0,28,"Accomack, Virginia, US"
16001.0,NaN,Ada,Idaho,US,2020-04-17 23:30:52,43.452658,-116.241552,576,9,0,567,"Ada, Idaho, US"
19001.0,NaN,Adair,Iowa,US,2020-04-17 23:30:52,41.330756,-94.471059,1,0,0,1,"Adair, Iowa, US"

## Most countries, US included, are not reporting Recovered column

In [7]:
df[(df.Country_Region=='US') & (df.Recovered != 0)]

,Unnamed: 0,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
FIPS,,,,,,,,,,,,
NaN,NaN,NaN,Recovered,US,2020-04-17 23:30:52,NaN,NaN,0,0,58545,-58545,"Recovered, US"

## Who is using "Recovered" as a Province_State?

In [8]:
df[(df.Province_State=='Recovered')]

,Unnamed: 0,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
FIPS,,,,,,,,,,,,
NaN,NaN,NaN,Recovered,Canada,2020-04-17 23:38:31,NaN,NaN,0,0,10545,-10545,"Recovered, Canada"
NaN,NaN,NaN,Recovered,US,2020-04-17 23:30:52,NaN,NaN,0,0,58545,-58545,"Recovered, US"

## Who is reporting Recovered?

In [9]:
df[(df.Province_State == 'Recovered')].sort_values("Country_Region")

,Unnamed: 0,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
FIPS,,,,,,,,,,,,
NaN,NaN,NaN,Recovered,Canada,2020-04-17 23:38:31,NaN,NaN,0,0,10545,-10545,"Recovered, Canada"
NaN,NaN,NaN,Recovered,US,2020-04-17 23:30:52,NaN,NaN,0,0,58545,-58545,"Recovered, US"

## Only Australia and China are reporting recovered by real province or state

In [10]:
df[(df.Recovered != 0) & (df.Province_State != 'Recovered') & (pd.notnull(df.Province_State))].sort_values('Country_Region')

,Unnamed: 0,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
FIPS,,,,,,,,,,,,
NaN,NaN,NaN,Western Australia,Australia,2020-04-17 23:38:48,-31.950500,115.860500,541,7,340,194,"Western Australia, Australia"
NaN,NaN,NaN,Australian Capital Territory,Australia,2020-04-17 23:38:48,-35.473500,149.012400,103,3,81,19,"Australian Capital Territory, Australia"
NaN,NaN,NaN,Victoria,Australia,2020-04-17 23:38:48,-37.813600,144.963100,1302,14,1159,129,"Victoria, Australia"
NaN,NaN,NaN,Tasmania,Australia,2020-04-17 23:38:48,-42.882100,147.327200,180,7,67,106,"Tasmania, Australia"
NaN,NaN,NaN,South Australia,Australia,2020-04-17 23:38:48,-34.928500,138.600700,435,4,331,100,"South Australia, Australia"
NaN,NaN,NaN,New South Wales,Australia,2020-04-17 23:38:48,-33.868800,151.209300,2926,26,1379,1521,"New South Wales, Australia"
NaN,NaN,NaN,Queensland,Australia,2020-04-17 23:38:48,-27.469800,153.025100,1007,5,442,560,"Queensland, Australia"
NaN,NaN,NaN,Northern Territory,Australia,2020-04-17 23:38:48,-12.463400,130.845600,28,0,9,19,"Northern Territory, Australia"
NaN,NaN,NaN,Jiangsu,China,2020-04-17 01:05:09,32.971100,119.455000,653,0,643,10,"Jiangsu, China"
NaN,NaN,NaN,Inner Mongolia,China,2020-04-17 02:03:55,44.093500,113.944800,193,1,103,89,"Inner Mongolia, China"
NaN,NaN,NaN,Yunnan,China,2020-04-16 23:58:59,24.974000,101.487000,184,2,177,5,"Yunnan, China"
NaN,NaN,NaN,Jiangxi,China,2020-04-10 01:22:42,27.614000,115.722100,937,1,936,0,"Jiangxi, China"
NaN,NaN,NaN,Jilin,China,2020-04-17 00:08:14,43.666100,126.192300,102,1,97,4,"Jilin, China"
NaN,NaN,NaN,Liaoning,China,2020-04-17 00:20:24,41.295600,122.608500,146,2,140,4,"Liaoning, China"
NaN,NaN,NaN,Macau,China,2020-04-15 14:46:10,22.166700,113.550000,45,0,16,29,"Macau, China"
NaN,NaN,NaN,Ningxia,China,2020-03-16 08:47:05,37.269200,106.165500,75,0,75,0,"Ningxia, China"
NaN,NaN,NaN,Shaanxi,China,2020-04-17 01:05:09,35.191700,108.870100,256,3,252,1,"Shaanxi, China"
NaN,NaN,NaN,Hunan,China,2020-04-02 01:30:57,27.610400,111.708800,1019,4,1014,1,"Hunan, China"
NaN,NaN,NaN,Shandong,China,2020-04-17 00:37:40,36.342700,118.149800,787,7,761,19,"Shandong, China"
NaN,NaN,NaN,Shanghai,China,2020-04-17 06:07:47,31.202000,121.449100,628,7,512,109,"Shanghai, China"
NaN,NaN,NaN,Shanxi,China,2020-04-16 23:58:59,37.577700,112.292200,197,0,135,62,"Shanxi, China"
NaN,NaN,NaN,Sichuan,China,2020-04-16 01:07:06,30.617100,102.710300,560,3,552,5,"Sichuan, China"
NaN,NaN,NaN,Tianjin,China,2020-04-17 15:23:31,39.305400,117.323000,189,3,173,13,"Tianjin, China"
NaN,NaN,NaN,Tibet,China,2020-02-23 11:19:02,31.692700,88.092400,1,0,1,0,"Tibet, China"
NaN,NaN,NaN,Xinjiang,China,2020-03-08 05:31:02,41.112900,85.240100,76,3,73,0,"Xinjiang, China"
NaN,NaN,NaN,Qinghai,China,2020-02-23 11:19:02,35.745200,95.995600,18,0,18,0,"Qinghai, China"
NaN,NaN,NaN,Hubei,China,2020-04-17 05:08:48,30.975600,112.270700,68128,4512,63487,129,"Hubei, China"
NaN,NaN,NaN,Zhejiang,China,2020-04-17 02:46:34,29.183200,120.093400,1268,1,1246,21,"Zhejiang, China"
NaN,NaN,NaN,Henan,China,2020-04-14 00:43:57,33.882000,113.614000,1276,22,1254,0,"Henan, China"
NaN,NaN,NaN,Gansu,China,2020-04-16 13:44:14,37.809900,101.058300,139,2,137,0,"Gansu, China"
NaN,NaN,NaN,Chongqing,China,2020-03-29 00:14:12,30.057200,107.874000,579,6,570,3,"Chongqing, China"
NaN,NaN,NaN,Fujian,China,2020-04-17 00:50:50,26.078900,117.987400,354,1,334,19,"Fujian, China"
NaN,NaN,NaN,Guangdong,China,2020-04-17 00:45:46,23.341700,113.424400,1577,8,1475,94,"Guangdong, China"
NaN,NaN,NaN,Guangxi,China,2020-04-02 00:16:02,23.829800,108.788100,254,2,252,0,"Guangxi, China"
NaN,NaN,NaN,Beijing,China,2020-04-17 02:49:36,40.182400,116.414200,593,8,509,76,"Beijing, China"
NaN,NaN,NaN,Hainan,China,2020-03-24 04:19:14,19.195900,109.745300,168,6,162,0,"Hainan, China"
NaN,NaN,NaN,Hebei,China,2020-04-17 01:25:26,39.549000,116.130600,328,6,316,6,"Hebei, China"
NaN,NaN,NaN,Anhui,China,2020-04-09 01:12:20,31.825700,117.226400,991,6,984,1,"Anhui, China"
NaN,NaN,NaN,Heilongjiang,China,2020-04-17 00:20:24,47.862000,127.761500,872,13,471,388,"Heilongjiang, China"
NaN,NaN,NaN,Guizhou,China,2020-03-18 01:37:43,26.815400,106.874800,146,2,144,0,"Guizhou, China"
NaN,NaN,NaN,Hong Kong,China,2020-04-17 09:19:52,22.300000,114.200000,1021,4,533,484,"Hong Kong, China"
NaN,NaN,NaN,Faroe Islands,Denmark,2020-04-17 23:30:32,61.892600,-6.911800,184,0,171,13,"Faroe Islands, Denmark"
NaN,NaN,NaN,Greenland,Denmark,2020-04-17 23:30:32,71.706900,-42.604300,11,0,11,0,"Greenland, Denmark"
NaN,NaN,NaN,St Martin,France,2020-04-17 23:30:32,18.070800,-63.050100,35,2,13,20,"St Martin, France"
NaN,NaN,NaN,French Guiana,France,2020-04-17 23:30:32,4.000000,-53.000000,96,0,61,35,"French Guiana, France"
NaN,NaN,NaN,Saint Barthelemy,France,2020-04-17 23:30:32,17.900000,-62.833300,6,0,4,2,"Saint Barthelemy, France"
NaN,NaN,NaN,Reunion,France,2020-04-17 23:30:32,-21.115100,55.536400,402,0,237,165,"Reunion, France"
NaN,NaN,NaN,Guadeloupe,France,2020-04-17 23:30:32,16.265000,-61.551000,145,8,67,70,"Guadeloupe, France"
NaN,NaN,NaN,New Caledonia,France,2020-04-17 23:30:32,-20.904305,165.618042,18,0,14,4,"New Caledonia, France"
NaN,NaN,NaN,Mayotte,France,2020-04-17 23:30:32,-12.827500,45.166244,245,4,117,124,"Mayotte, France"
NaN,NaN,NaN,Martinique,France,2020-04-17 23:30:32,14.641500,-61.024200,158,8,73,77,"Martinique, France"
NaN,NaN,NaN,Curacao,Netherlands,2020-04-17 23:30:32,12.169600,-68.990000,14,1,10,3,"Curacao, Netherlands"
NaN,NaN,NaN,Sint Maarten,Netherlands,2020-04-17 23:30:32,18.042500,-63.054800,57,9,12,36,"Sint Maarten, Netherlands"
NaN,NaN,NaN,Aruba,Netherlands,2020-04-17 23:30:32,12.521100,-69.968300,96,2,43,51,"Aruba, Netherlands"
NaN,NaN,NaN,Falkland Islands (Malvinas),United Kingdom,2020-04-17 23:30:32,-51.796300,-59.523600,11,0,1,10,"Falkland Islands (Malvinas), United Kingdom"
NaN,NaN,NaN,Montserrat,United Kingdom,2020-04-17 23:30:32,16.742498,-62.187366,11,0,1,10,"Montserrat, United Kingdom"
NaN,NaN,NaN,Channel Islands,United Kingdom,2020-04-17 23:30:32,49.372300,-2.364400,470,20,73,377,"Channel Islands, United Kingdom"
NaN,NaN,NaN,Cayman Islands,United Kingdom,2020-04-17 23:30:32,19.313300,-81.254600,61,1,7,53,"Cayman Islands, United Kingdom"
NaN,NaN,NaN,British Virgin Islands,United Kingdom,2020-04-17 23:30:32,18.420700,-64.640000,4,0,2,2,"British Virgin Islands, United Kingdom"
NaN,NaN,NaN,Bermuda,United Kingdom,2020-04-17 23:30:32,32.307800,-64.750500,83,5,35,43,"Bermuda, United Kingdom"
NaN,NaN,NaN,Isle of Man,United Kingdom,2020-04-17 23:30:32,54.236100,-4.548100,291,4,169,118,"Isle of Man, United Kingdom"
NaN,NaN,NaN,Gibraltar,United Kingdom,2020-04-17 23:30:32,36.140800,-5.353600,132,0,105,27,"Gibraltar, United Kingdom"
NaN,NaN,NaN,Anguilla,United Kingdom,2020-04-17 23:30:32,18.220600,-63.068600,3,0,1,2,"Anguilla, United Kingdom"